body {
  font-family: Arial, sans-serif;
  background-color: #94c981;
  color: #333;
  margin: 0;
  padding: 0;
}
h1 {
  color: #262426;
  text-align: center;
  margin-top: 20px;
}
.test {
  background-color: #468a46;
  border: 3px;
}
.sidebar {
  background-color: #468a46;
  height: 100%;
  Width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
