body {
  font-family: Arial, sans-serif;
  background-color: #94c981;
  color: #333;
  margin: 0;
  padding: 0;
}
.base {
  background-color: #f5bad8;
  border: 5px solid #e3769e;
  border-radius: 5px;
  height: 999px;
  width: 90%;
  margin: 25px 50px 150px 25px;
}

.layer {
  background-color: #9e8ee8;
  border: 5px solid #7962e3;
  border-radius: 5px;
  height: 999px;
  width: 50%;
  margin: auto;
}
  
