body {
  font-family: Arial, sans-serif;
  background-color: #b4e0b4;
  color: #333;
  margin: 0;
  padding: 0;
}
h1 {
  color: #262426;
  text-align: center;
  margin-top: 20px;
}
box {
  background-color: #468a46
}
